@model LearnHubFO.Models.PagedResult<LearnHubBackOffice.Models.Cours>

<div style="margin: 50px 200px 0 200px;">
    <h2>Liste des cours disponibles</h2>
    <br />
    <div style="display: flex; justify-content: flex-end; align-items: center; margin-bottom: 10px;">
        <div style="margin-right: 20px; display: flex; align-items: center;">
            <label for="pageSize" style="margin-right: 5px;">Éléments par page:</label>
            <form method="get" asp-action="Index" class="form-inline" style="display: flex; align-items: center;">
                <select id="pageSize" name="pageSize" class="form-control" onchange="this.form.submit()">
                    <option value="10" selected="@(Model.PageSize == 10)">10</option>
                    <option value="20" selected="@(Model.PageSize == 20)">20</option>
                    <option value="50" selected="@(Model.PageSize == 50)">50</option>
                </select>
                <input type="hidden" name="pageIndex" value="1" />
            </form>
        </div>
        <div style="margin-right: 20px; display: flex; align-items: center;">
            <p style="margin: 0;">@Model.FirstItemIndex - @Model.LastItemIndex sur @Model.TotalItems éléments</p>
        </div>
        <nav aria-label="Page navigation" style="display: flex; align-items: center;">
            <ul class="pagination mb-0">
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex - 1)" asp-route-pageSize="@(Model.PageSize)">Précédent</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <span class="page-link">Précédent</span>
                    </li>
                }

                @if (Model.PageIndex >= 1)
                {
                    if (1 == Model.PageIndex)
                    {
                        <li class="page-item active">
                            <a class="page-link" asp-action="Index" asp-route-pageIndex="1" asp-route-pageSize="@(Model.PageSize)">1</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-pageIndex="1" asp-route-pageSize="@(Model.PageSize)">1</a>
                        </li>
                    }

                }

                @if (Model.PageIndex > 4)
                {
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                }

                @for (int i = Math.Max(2, Model.PageIndex - 2); i <= Math.Min(Model.TotalPages - 1, Model.PageIndex + 2); i++)
                {
                    if (i == Model.PageIndex)
                    {
                        <li class="page-item active">
                            <span class="page-link">@i</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-pageIndex="@i" asp-route-pageSize="@(Model.PageSize)">@i</a>
                        </li>
                    }
                }

                @if (Model.PageIndex < Model.TotalPages - 3)
                {
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                }

                @if (Model.PageIndex <= Model.TotalPages && Model.TotalPages!=1)
                {
                    if (Model.TotalPages == Model.PageIndex)
                    {
                        <li class="page-item active">
                            <a class="page-link" asp-action="Index" asp-route-pageIndex="@(Model.TotalPages)" asp-route-pageSize="@(Model.PageSize)">@Model.TotalPages</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-pageIndex="@(Model.TotalPages)" asp-route-pageSize="@(Model.PageSize)">@Model.TotalPages</a>
                        </li>
                    }
                }

                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex + 1)" asp-route-pageSize="@(Model.PageSize)">Suivant</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <span class="page-link">Suivant</span>
                    </li>
                }
            </ul>
        </nav>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Catégorie</th>
                <th>Formateur</th>
                <th>Date de création</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TitreCours)</td>
                    <td>@Html.DisplayFor(modelItem => item.CoursCategorie.NomCoursCategorie)</td>
                    <td>@Html.DisplayFor(modelItem => item.Formateur.NomFormateur)</td>
                    <td>@item.DateCreationCours.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.IdCours" class="btn btn-primary">Voir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
