@model LearnHubFO.Models.PagedResult<ListeCoursUtilisateur>

<div style="margin: 50px 200px 0 200px;">
    <h2>Liste des cours disponibles</h2>
    <br />
    <form method="get" asp-action="Index" class="form-inline" style="display: flex; align-items: center; margin-bottom: 10px; width: 300px;">
        <input type="text" name="searchTerm" value="@ViewData["SearchTerm"]" class="form-control" placeholder="Rechercher un cours" style="margin-right: 10px;" />
        <input type="hidden" name="pageIndex" value="1" />
        <input type="hidden" name="pageSize" value="@ViewData["PageSize"]" />
        <button type="submit" class="btn btn-light">Rechercher</button>
    </form>
    <div style="display: flex; justify-content: flex-end; align-items: center; margin-bottom: 10px;">
        <div style="margin-right: 20px; display: flex; align-items: center;">
            <label for="pageSize" style="margin-right: 5px;">Éléments par page:</label>
            <form method="get" asp-action="Index" class="form-inline" style="display: flex; align-items: center;">
                <select id="pageSize" name="pageSize" class="form-control" onchange="this.form.submit()">
                    <option value="10" selected="@(Model.PageSize == 10)">10</option>
                    <option value="20" selected="@(Model.PageSize == 20)">20</option>
                    <option value="50" selected="@(Model.PageSize == 50)">50</option>
                </select>
                <input type="hidden" name="pageIndex" value="1" />
                 <input type="hidden" name="searchTerm" value="@ViewData["SearchTerm"]" />
            </form>
        </div>
        <div style="margin-right: 20px; display: flex; align-items: center;">
            <p style="margin: 0;">@Model.FirstItemIndex - @Model.LastItemIndex sur @Model.TotalItems éléments</p>
        </div>
        <form method="get" asp-action="Index" class="form-inline">
            <input type="hidden" name="searchTerm" value="@ViewData["SearchTerm"]" />
            <input type="hidden" name="pageSize" value="@ViewData["PageSize"]" />
            <nav aria-label="Page navigation" style="display: flex; align-items: center;">
                <ul class="pagination mb-0">
                    @if (Model.HasPreviousPage)
                    {
                        <li class="page-item">
                            <button type="submit" name="pageIndex" value="@(Model.PageIndex - 1)" class="page-link">Précédent</button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <span class="page-link">Précédent</span>
                        </li>
                    }

                    @if (Model.PageIndex >= 1)
                    {
                        if (1 == Model.PageIndex)
                        {
                            <li class="page-item active">
                                <button type="submit" name="pageIndex" value="1" class="page-link">1</button>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <button type="submit" name="pageIndex" value="1" class="page-link">1</button>
                            </li>
                        }

                    }

                    @if (Model.PageIndex > 4)
                    {
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    }

                    @for (int i = Math.Max(2, Model.PageIndex - 2); i <= Math.Min(Model.TotalPages - 1, Model.PageIndex + 2); i++)
                    {
                        if (i == Model.PageIndex)
                        {
                            <li class="page-item active">
                                <span class="page-link">@i</span>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <button type="submit" name="pageIndex" value="@i" class="page-link">@i</button>
                            </li>
                        }
                    }

                    @if (Model.PageIndex < Model.TotalPages - 3)
                    {
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    }

                    @if (Model.PageIndex <= Model.TotalPages && Model.TotalPages != 1)
                    {
                        if (Model.TotalPages == Model.PageIndex)
                        {
                            <li class="page-item active">
                                <button type="submit" name="pageIndex" value="@Model.TotalPages" class="page-link">@Model.TotalPages</button>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <button type="submit" name="pageIndex" value="@Model.TotalPages" class="page-link">@Model.TotalPages</button>
                            </li>
                        }
                    }

                    @if (Model.HasNextPage)
                    {
                        <li class="page-item">
                            <button type="submit" name="pageIndex" value="@(Model.PageIndex + 1)" class="page-link">Suivant</button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <span class="page-link">Suivant</span>
                        </li>
                    }
                </ul>
            </nav>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Catégorie</th>
                <th>Formateur</th>
                <th>Date de création</th>
                <th>Etat</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TitreCours)</td>
                    <td>@Html.DisplayFor(modelItem => item.CoursCategorie.NomCoursCategorie)</td>
                    <td>@Html.DisplayFor(modelItem => item.Formateur.NomFormateur)</td>
                    <td>@item.DateCreationCours.ToString("dd/MM/yyyy")</td>
                    @if (item.EstSuivi == 1)
                    {
                        <td>
                            <span class="badge bg-success">Suivi</span>
                        </td>
                    } else
                    {
                        <td>
                            <span class="badge bg-light" style="color: #737373">Non suivi</span>
                        </td>
                    }
                    <td>
                        <a asp-action="Details" asp-route-id="@item.IdCours" class="btn btn-primary">Voir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
