@model LearnHubFO.Models.PagedResult<LearnHubBackOffice.Models.Cours>

<div style="margin: 50px 200px 0 200px;">
    <h2>Liste des cours disponibles</h2>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Formateur</th>
                <th>Catégorie</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TitreCours)</td>
                    <td>@Html.DisplayFor(modelItem => item.Formateur.NomFormateur)</td>
                    <td>@Html.DisplayFor(modelItem => item.CoursCategorie.NomCoursCategorie)</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.IdCours" class="btn btn-primary">Voir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex - 1)">Précédent</a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link">Précédent</span>
                </li>
            }

            @if (Model.PageIndex >= 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageIndex="1">1</a>
                </li>
            }

            @if (Model.PageIndex > 4)
            {
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            }

            @for (int i = Math.Max(2, Model.PageIndex - 2); i <= Math.Min(Model.TotalPages - 1, Model.PageIndex + 2); i++)
            {
                if (i == Model.PageIndex)
                {
                    <li class="page-item active">
                        <span class="page-link">@i</span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-route-pageIndex="@i">@i</a>
                    </li>
                }
            }

            @if (Model.PageIndex < Model.TotalPages - 3)
            {
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            }

            @if (Model.PageIndex <= Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageIndex="@(Model.TotalPages)">@Model.TotalPages</a>
                </li>
            }

            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex + 1)">Suivant</a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link">Suivant</span>
                </li>
            }
        </ul>
    </nav>
</div>